<section class="cart center">
    <% if(session.cart) { %>

        <div class="container">
            <div class="order-summery">
                <i class="fa-solid fa-cart-shopping-fast"></i>
                <h1>Order Summery</h1>
            </div>
            <hr>
            <div class="item-flex">
                <div class="cart-fill">
                    <% for (let items of Object.values(session.cart.items) ) {%>
                        <div class="cart-item">
                            <img class="cart-item-img items" src="<%= items.item.image %>" alt="">
                            <p class="item-name items">
                                <%= items.item.name %>
                            </p>
                            <p class="item-piece items">
                                <%= items.qty %> KG
                            </p>
                            <p class="item price items"><b> ₹<%= (items.item.price)*(items.qty) %> </b> </p>
                            <button data-item="<%= JSON.stringify(items) %>" class="items delete-btn"> DELETE </button>
                        </div>
                        <% } %>
                </div>

            </div>
        </div>

        <div class="payment">
            <div class="total-amount">
                <h1>Total Amount: </h1>
                <p class="amount">
                <h1>₹<%= session.cart.totalPrice %>
                </h1>
                </p>
            </div>
            <% if(user) { %>
                <div class="payment-form">
                    <form action="/post-order" METHOD="POST" class="cart-form">
                        <span>Address</span>
                        <input name="address" type="text" placeholder="Enter Your Address">
                        <span>Phone Number</span>
                        <input name="phone" type="phone" placeholder="Enter Your Phone number">                                                  
                        <button type="submit" class="payment-btn">
                            <h3> Place Order</h1>
                            </button>
                        </form> 
                                                   
                        <button type="submit" class="payment-btn" id="payment-btn">
                            <h3> Pay Now </h1>
                        </button>  
                        
                      
                </div>
                <% } else { %>
                    <div class="login-shop">
                        <a href="/login"><button>LogIn to Shop</button></a>
                    </div>
                    <% } %>
        </div>
        <% } else { %>
            <div class="cart-empty">
                <h1 style="margin-bottom: 30px">Cart Empty</h1>
                <p class="cart-empty-desc">You probably haven't ordered item yet.
                    <br>To order item/items, go to the main page.
                </p>
                <div class="cart-empty-img center">
                    <img src="img/empty-cart.png" alt="">
                </div>
                <a href="/" class="mainpage">Go Back</a>
            </div>
            <% } %>
</section>